/*
process {
                clusterOptions = '--account=farmgtex'
                executor = 'slurm'
                errorStrategy = 'ignore'
                conda = "/home/huicongz/miniconda3/envs/nf-farmgtex/"
                withLabel: phaser { conda = "/home/huicongz/miniconda3/envs/phaser/" }            
}

conda.enabled = true

*/

process {
    executor = 'local'
    errorStrategy = 'retry'
}

conda.enabled = false

//conda.enabled = false makes Nextflow ignore those hardcoded conda prefixes.
// The tasks then use whatever is on PATH, so start Nextflow only after micromamba activate nf-cattlegtex.